.heading {
    border: 1px solid #CCD7DD;
    background: #E4EAEE;
    color: grey;
    height: 35px;
    margin-top: 2%;
}

.heading > h5 {
    margin-left: 2%;
    margin-top: 10px;
}

.projectDetails {
    display: flex;
    border: 1px solid #CCD7DD;
    padding: 15px;
}

.projectLabel {
    margin-left: 16%;
}

.clientsLabel {
    width: 20%;
    margin-left: 20%;
    margin-right: 1%;
}

.progressLabel {
    width: 20%;
    margin-left: 9%;
}

label {
    font-size: 12px;
    margin-top: 2px;
    color: grey;
}

/* CSS for projects data after mapping */

.projectDataDetails {
    border: 1px solid #CCD7DD;
    display: flex;
    color: grey;
}

.projectsDetails {
    width: 13%;
}

.clientsDetails {
    width: 13%;
    margin-left: 10%;
}

.projectDataDetails > h4:nth-child(3) {
    margin-left: 7%;
}

.projectDataDetails > h4:nth-child(4) {
    margin-left: 10%;
}

.projectDataDetails > h4:nth-child(5) {
    margin-left: 17%;
}

.favouriteButton {
    margin-left: 7.9%;
}

/* Project Modal css */

.projectModal {
    height: 250px;
    width: 30%;
    margin: auto;
    margin-top: 16%;
    border: 1px solid #666666;
    border-radius: 2px;
    outline: none;
}

.modalHeading {
    margin-left: 4%;
    color: #666666;
}

.inputBox {
    display: flex;
}

.inputBox > input {
    width: 40%;
    margin-left: 5%;
    height: 30px;
    outline: none;
    padding-left: 5px;
}

.projectModalButtons >  button:nth-child(1) {
    border: none;
    color: #57C4F5;
    margin-left: 52%;
}

.projectModalButtons >  button:nth-child(2) {
    border: 1px solid #57C4F5;
    width: 25%;
    background: #57C4F5;
    color: white;
    margin-left: 6%;
}

.selectBox > select {
    width: 41.7%;
    margin-left: 52%;
    margin-top: 3%;
    height: 35px;
    outline: none;
}



