.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
.sliderRound {
border-radius: 34px;
}
  
.sliderRound:before {
border-radius: 50%;
}

.projectModal {
    height: 250px;
    width: 30%;
    margin: auto;
    margin-top: 16%;
    border: 1px solid #666666;
    border-radius: 2px;
    outline: none;
}

.heading {
    margin-left: 4%;
    color: #666666;
}

.inputBox {
    display: flex;
}

.inputBox > input {
    width: 40%;
    margin-left: 5%;
    height: 30px;
    outline: none;
    padding-left: 5px;
}

.projectModalButtons >  button:nth-child(1) {
    border: none;
    color: #57C4F5;
    margin-left: 52%;
}

.projectModalButtons >  button:nth-child(2) {
    border: 1px solid #57C4F5;
    width: 25%;
    background: #57C4F5;
    color: white;
    margin-left: 6%;
}

.selectBox > select {
    width: 41.7%;
    margin-left: 52%;
    margin-top: 3%;
    height: 35px;
    outline: none;
}

.dayData {
    border: 1px solid #CCD7DD;
    margin-left: 18%;
}

.dayData > h4 {
    margin-left: 2%;
    color: grey;
}

.projectDataDetails {
    display: flex;
    flex-direction: row;
    border: 1px solid #CCD7DD;
    margin-left: 18%;
    margin-right: 1%;
}
.projectDataDetails > h4 {
    padding-top: 8px;
    height: 30px;
    color: grey;
}


.description {
    width: 200px;
    margin-left: 20px;
    text-align: center;
    padding-top: 8px;
    color: grey;
}

.projectName{
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 8px;
    color: #673AB7;
}

.clientsName {
    color: grey;
    padding-top: 8px;
}

.bsTag {
    margin-left: 17%;
    width: 40px;
    text-align: center;
    height: 35px;
    color: grey;
    padding-top: 8px;
}

.checkBoxInput {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
    padding-top: 8px;
}

.startTime {
    margin-left: 4%;
    margin-right: 1%;
    color: grey;
    padding-top: 8px;
}

.dash {
    padding-top: 6px;
    color: grey;
}

.endTime {
    color: grey;
    padding-top: 8px;
    margin-left: 1%;
}

.totalTime {
    color: grey;
    padding-top: 4px;
}

.calender {
    margin-left: 4%;
    margin-right: 4%;
    color: grey;
    padding-top: 4px;
}

.timerButton {
    height: 55px;
    width: 60px;
    margin-left: 4%;
    margin-right: 0.3%;
    color: grey;
    /* margin-top: 2.3%; */
}

.deleteButton {
    border-left: none;
    height: 55px;
    color: grey;
}